<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # ถ้าต้องการ redirect ไป index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.php [L]
</IfModule>
